@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Serif+Pro:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #b8b8ff, #f5f3f4);  
}

.logouni{
    height: 60px;
    width: 60px;
    position: fixed;
    top: 5px;
    left: 10px;
}
h1{
    top: 10px;
    left: 45%;
    display: inline-block;
    position: relative;
    color: #240046;
    font-family: 'Segoe Script', cursive;
    font-size: 25px;
}
h1::after,h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color:currentColor;
    top: 0.6em;
    
}
h1::before{
    left: -130px;
}
h1::after{
    right: -130px;
}

.logo{
    width: 14%;
    height: 14%;
}
.logopres{
    width: 20%;
    height: 20%;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 470px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
}
.nav .link{
    transform: translateY(-38px);
    transition: 0.3s;
}
.nav .link a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    text-decoration: none;
    color: #f97f79;
}
.nav .link a span{
    font-size: 0.9em;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    background: #f97f79;
}
.nav .link ion-icon{
    font-size: 1.5em;
}
.nav .link:hover{
    transform: translateY(13px);
}

h2{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 30px;
    background: linear-gradient(#1497be, #1c2aec);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}
@keyframes text{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

