.basura{
    width: 35px;
    height: 35px;
}
#botontabla{
    border: none;
    border-radius: 50px;
}

.modal-content{
    background: #dee2ff;
}
#recibirnombre{
    background: none;
    border: none;
    color: #9a031e;
    font-size: 20px;
}

.butn{
    outline: none;
    background: linear-gradient(to right, #ffccd5, #ffdccc);
    cursor: pointer;
    border-radius: 20px;
    border-color: #9e2a2b;
    margin: 10px;
    width: 120px;
    font-size: 18px;
    font-family: 'Source Serif Pro', serif;
    color: #38040e;
}
.butn:hover{
    color: #3c096c;
    background: linear-gradient(to right, #b8b8ff, #9381ff);
}