body{
    background: linear-gradient(to right, #e2eafc, #022b3a);
    font-family: georgia;
}

#table-container{
    position: absolute;
    top: 30px;
    left: 250px;
	margin: 150px auto;
	width: 800px;
	border-radius: 20px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	border-radius: 20px;
}

th, td{
	padding: 20px;
}

thead{
	background: #B993D6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 15px;
	border-bottom: solid 1px #0F362D;
	color: #0d1b2a;
}

tr:hover td{
	background-color: #8CA6DB;
}

.container-fluid{
    background: linear-gradient(to right, #e2eafc, #022b3a);
    font-family: georgia;
    color: #022b3a;
    position: absolute;
    left:0;
    top: 0;
}

.container-fluid h4{
    position: absolute;
    left: 95px;
}

.boton{
   background: #e2eafc;
    border-radius: 25px;
    border: solid 1px;
    border-color: #0d1b2a;
    color: #0d1b2a;
    position: absolute;
    top: 80px;
    left: 15%;
    padding:10px 5px;
}
.boton:hover{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn{
    background: #B993D6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #0d1b2a;
    border-radius: 20px;
}

.box{
    position:absolute;
    left: 30px;
    bottom: 0;
}

.box button[type="submit"]{
    border:0px;
    padding:10px 5px;
    text-align: center;
    border:1px solid #022b3a; 
    width: 110px;
    outline: none;
    border-radius: 30px;
    transition: 0.25s;
    background: #8ecae6;
    cursor: pointer;
    font-size: 16px;
    font-family: georgia;
    color: #022b3a;
}

.box button[type="submit"]:hover{
    background:#022b3a;
    color:#8ecae6 ;
}

#recibirdescrip1{
    border: none;
    background: none;
    width: 100px;
    color: #001219;
}

.modal-body2{
    text-align: center;
}

#recibirposicion{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 180px;
    height: 15px;
    text-align: center;
}
#recibirdescrip{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 180px;
    height: 15px;
    text-align: center;
}
#recibirporcentaje{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 180px;
    height: 15px;
    text-align: center;
}
.modal-body1{
    text-align: center;
}

#nota{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 200px;
    height: 25px;
    text-align: center;
}

#descripNo{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 200px;
    height: 25px;
    text-align: center;
}
#porcentaje{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
    padding: 10px 5px;
    width: 200px;
    height: 25px;
    text-align: center;
}

.alert{
    width: 500px;
    position: absolute;
    top: 70px;
    right: 0;
    text-align: center;
}